name: Java CI/CD Pipeline

on:
  push:
    branches:
      - master
      
env:
  NEXUS_URL: ${{ secrets.NEXUS_URL }}
  TOMCAT_URL: ${{ secrets.TOMCAT_URL }}

jobs:
  build-analyze-deploy:
    runs-on: ubuntu
    - name: 4. Build and Analyze with SonarQube
      run: |
        mvn -B 
          "${{ secrets.TOMCAT_URL }}/deploy?path=/train-ticket&update=true"
